body {
  margin: 0;
  padding: 0;
  background-color: #404040;
  color: white;
}
.main {
  width: 80%;
  margin: auto;
}
.container-start {
  height: 70px;
  border: 1px solid white;
  border-radius: 5px;
  display: flex;
}
.container-center {
  height: 70px;
  border: 1px solid white;
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.container-end {
  height: 70px;
  border: 1px solid white;
  border-radius: 5px;
  display: flex;
  align-items: flex-end;
}
.container-stretch {
  height: 70px;
  border: 1px solid white;
  border-radius: 5px;
  display: flex;
  align-items: stretch;
}
.item {
  width: 10%;
  height: 30%;
  margin: 5px;
  background-color: chocolate;
  border-radius: 3px;
  text-align: center;
}
.item-st {
  width: 10%;
  margin: 5px;
  background-color: chocolate;
  border-radius: 3px;
  text-align: center;
  line-height: 60px;
}

