body {
  margin: 0;
  padding: 0;
  background-color: #404040;
  color: white;
}
.main {
  width: 80%;
  margin: auto;
}
.container-flex {
  border: 1px solid white;
  border-radius: 5px;
  display: flex;
}
.item {
  width: 10%;
  margin: 5px;
  background-color: chocolate;
  border-radius: 3px;
  text-align: center;
}
.item-grw1 {
  width: 10%;
  margin: 5px;
  background-color: chocolate;
  border-radius: 3px;
  text-align: center;
  flex-grow: 1;
}
.item-grw2 {
  width: 10%;
  margin: 5px;
  background-color: chocolate;
  border-radius: 3px;
  text-align: center;
  flex-grow: 2;
}