body {
  margin: 0;
  padding: 0;
  background-color: #404040;
  color: white;
}
.main {
  width: 80%;
  margin: auto;
}
.container-start {
  border: 1px solid white;
  border-radius: 5px;
  display: flex;
}
.container-center {
  border: 1px solid white;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}
.container-end {
  border: 1px solid white;
  border-radius: 5px;
  display: flex;
  justify-content: end;
}
.container-between {
  border: 1px solid white;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}
.container-around {
  border: 1px solid white;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
}
.container-evenly {
  border: 1px solid white;
  border-radius: 5px;
  display: flex;
  justify-content: space-evenly;
}
.item {
  width: 10%;
  margin: 5px;
  background-color: salmon;
  border-radius: 3px;
  text-align: center;
}