body {
  margin: 0;
  padding: 0;
  background-color: #404040;
  color: white;
}
.main {
  width: 80%;
  margin: auto;
}
.box-propiedades {
  margin-bottom: 20px;
  border: 1px solid white;
  border-radius: 5px;
  padding: 20px;

}
strong {
  font-size: 18px;
}
a {
  color: white;
  text-decoration: none;
  text-align: center;
}
